<!DOCTYPE html>
<html lang="en">
<head>
<title>Django Tutorial</title>
</head>
<body>

 <h2>
 
 indexpage admin hhbhhjbjbjvjv Page

{% for iitsdata1 in obj %}

<h2> {{ iitsdata1.first_name }} </h2>

{% endfor %}
 
 </h2>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>